{% extends 'base_admin.html' %}
{% load is_menu_old %}

{% block main %}

    {% if messages %}
        <div class="messages" id="messages">
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <h3>Menüü detailid: {{ foodmenu }}</h3>
    <hr>

    {% for food in foodmenu.food_fooditem.all %}
        <div>Toit: {{ food.food }}</div>
        <div>Hind: {{ food.full_price }}</div>
        {% if food.half_price %}
            <div>Poolik hind: {{ food.half_price }}</div>
        {% endif %}
        <div>Näitab menüüs: {% if food.show_in_menu %}Jah{% else %}Ei{% endif %}</div>
        <hr>
    {% endfor %}




    <p>
        {% if not foodmenu.date|striptags|is_menu_old %}
            <a href="{% url 'app_admin:food_menu_update' pk=foodmenu.id %}" role="button"
               class="btn btn-primary w-100 mb-2">Toitusid muutma</a>
        {% endif %}
        <a href="{% url 'app_admin:food_menu_list' %}" role="button" class="btn btn-secondary w-100">Toitude
            nimekirja</a>
    </p>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Kontrollib, kas teavitusi sisaldav element on olemas
            let messages = document.getElementById('messages');
            if (messages) {
                // Ootab 5 sekundit ja seejärel peidab teavitused
                setTimeout(function () {
                    messages.style.display = 'none';
                }, 5000); // 5000 millisekundit = 5 sekundit
            }
        });
    </script>

{% endblock main %}
