{% extends 'base_admin.html' %}
{% load is_menu_old %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <h1>Pealkirjad päises</h1>
                <div>Siin on tabel pealkirjadega, mis kuvatakse avaliku vaate päises. Saad siin pealkirjasid muuta,
                    kustutada kui ka lisada.
                </div>
                {% if object_list %}
                    <div class="row">
                        {% include "app_admin/pagination.html" %}
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="text-center">
                            <th>Kuupäev</th>
                            <th>Teema</th>
                            <th>Soovitab</th>
                            <th>Valmistas</th>
                            <th>Tegevus</th>
                        </tr>
                        </thead>
                        <tbody>
                        {# default is object_list (author) must be views.py #}
                        {% for menu in menus %}
                            <tr>
                                <td>{{ menu.date|date:"d.m.Y" }}</td>
                                <td>{% if menu.theme %} {{ menu.theme }} {% endif %}</td>
                                <td>{% if menu.recommends %} {{ menu.recommends }} {% endif %} </td>
                                <td>{% if menu.prepared %} {{ menu.prepared }} {% endif %}</td>
                                <td class="text-center">
                                    {# {% if user.is_authenticated %}  #}
                                    <a href="{% url 'app_admin:menu_delete' pk=menu.id %}"
                                       class="text-danger">Kustuta</a>
                                    {% if not menu.date|date:"d.m.Y"|is_menu_old %}
                                        <a href="{% url 'app_admin:menu_update' pk=menu.id %}">Muuda</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="pt-2">

                        <a href="{% url 'app_admin:menu_create' %}" role="button" class="btn btn-primary w-100">Lisa uus
                            päise pealkiri</a>
                    </p>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}

