{% extends 'base_admin.html' %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class='col-12 mx-auto'>
                <h1>Uuenda pealkirja <span class="fw-bold">{{ name }}</span></h1>
            <div class="alert alert-info">Saad pealkirjasid muuta. Kui lisad teema, siis pead lisama ka soovitaja. Kui lisad soovitaja, pead lisama ka teema. Valmistaja lisamine on vabatahtlik, see ei sõltu teistest ridadest.</div>
                <form method="post" class="form">
                    {% for hidden_field in form.hidden_fields %}
                        <div class="alert alert-danger mt-1">{{ hidden_field.errors }}</div>
                        {{ hidden_field }}
                    {% endfor %}
                    {% csrf_token %}
                    {{ form.non_form_errors }}
                    {% for field in form %}
                        <div class="form-field">
                            <label for="{{ field.auto.id}}" class="fw-bold">{{ field.label_tag }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="alert alert-danger mt-1">{{ field.errors|striptags }}</div>
                            {% endif %}
                        </div>
                        <p></p>
                    {% endfor %}
                    <input type="submit" value="Uuenda" class="btn btn-success w-100">
                    <p class="pt-2">
                        <a href="{% url 'app_admin:index' %}" role="button" class="btn btn-secondary w-100">Katkesta</a>
                    </p>
                    <a href="{% url 'app_admin:food_menu_create' %}" role="button" class="btn btn-primary w-100">Lisa
                        menüü</a>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#date").datepicker({
                dateFormat: 'dd.mm.yy'
                // dateFormat: 'yy-mm-dd'
            });
        });
    </script>
{% endblock %}