{% extends 'base_admin.html' %}
{% block main %}
    <div class="container">
    <div class="row">
    <div class='col-8 mx-auto'>
    <h1>Uuenda pealkirja <span class="fw-bold">{{ name }}</h1>
        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
            	<div class="form-field">
                    <label for="{{ field.id_for_label }}" class="fw-bold">{{ field.label }}</label>
                    {# Show errors IF #}
                    {% for error in field.errors %}
                    	{% if field.errors %}
                    		<div class="alert alert-danger mt-1">
                                {{ error }}
                            </div>
                    	{% endif %}
                    {% endfor %}

                    {{ field }}
                </div>
            {% endfor %}

            <input type="submit" value="Uuenda" class="btn btn-success mt-2">
        <p class="pt-2">
                    <a href="{% url 'app_admin:index' %}" role="button" class="btn btn-secondary w-100">Katkesta</a>
                </p>

                <a href="{% url 'app_admin:food_menu_create' %}" role="button" class="btn btn-primary w-100">Lisa menüü</a>
        </form>
    </div>
    </div>
</div>
{% endblock %}